body{
  font-family: 'montserrat', sans-serif;
}

form{
  width: 95%;
}

form label{
  display: block;
}

form input{
  margin-bottom: 20px;
  width: 100%;
}

form textarea{
  width: 100%;
  margin-bottom: 20px;
  height: 5rem;
}

form button {
    padding: 10px 16px;
    border-radius: 10px;
    border: 1px;
    border-style: solid;
    border-color: aquamarine;
    font-family: Tahoma;
    font-size: 16px;
    background: #fff;
    color: #000;
    margin: 0 8px 10px 0;
}
